
.header_section  .contact_nav{justify-content: space-between;}
.header_section  .contact_nav > div{display: flex;flex-wrap: wrap;}
.header_section  .contact_nav br{display: none;}
@media (max-width: 1300px) {}

@media (max-width: 1120px) {
  .contact_nav a {
    font-size: 14px;
  }
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 7px 4px;
  }
}

@media (max-width: 992px) {
  .hero_area {
    min-height: auto;
  }
  .custom_nav-container br{display: none;}
  .custom_nav-container .form-inline {
    justify-content: center;
  }
  .custom_nav-container .navbar-brand{
    margin-right: 0;
  }
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 15px;
  }

  .custom_nav-container .navbar-nav {
    padding-top: 15px;
    align-items: flex-start;
    text-align: center;
  }

  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 25px;
    margin: 5px 0;
  }

  .about_section .detail-box {
    margin-top: 45px;
  }

  .pricing_section .box {
    margin-top: 45px;
  }
  .banner_section_2_container{
    position: relative;
    margin-top: 10px;
    padding: 0 15px;
  }
  .header_section .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
  }
  .header_section  .contact_nav{
    justify-content: center;
    flex-wrap: wrap;
  }
  .contact_nav a{
    margin-left: 10px;
    font-size: 12px;
   
  }
  .fixed-button{
    right: -100%;
  }
  .header_section .contact_nav > div {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .info_section .contact_nav {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
    
  }

  .info_section .contact_nav a:not(:nth-last-child(1)) {
    margin-bottom: 25px;
  }

  .info_section .contact_nav a {
    align-items: flex-start;
    text-align: left;
  }

  .info_section .info_top {
    padding: 0;
  }

  .info_section .info_top .row>div {
    margin-bottom: 35px;
  }
  .slider_section .carousel-indicators{
    bottom: 5%;
  }
  .slider_section .carousel-control-prev{
    left: 28%;
    bottom: 0;
  }
  .slider_section .carousel-control-next{
    right: 28%;
    bottom: 0;
  }
  .header-text {
    width: 100%;
    left: 0;
    padding:10px;
    top: 0;
  }
  .header-text.one p {
    padding: 5px;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .header-text.one p br{display: none;}
  .header-text h1 {
    font-size: 16px;
  }
  .slider_section {
    padding-top: 115px;
    padding-bottom: 0;
    position: relative;
  }
  .slider_section .carousel-item img {
    height: auto;
    min-height: 250px;
    object-fit: cover;
    object-position: center center;
}
  .header-text.three {
    width: 100%;top: 0;}
    .header-text.three p{font-size: 14px;    padding: 5px;margin-bottom: 5px;}
    .header-text.two p{font-size: 14px;    padding: 5px;    width: 100%;margin-bottom: 5px;
      text-align: center;}
    .header-text.two{top:0}
}

@media (max-width: 576px) {}

@media (max-width: 480px) {
  .slider_section .detail-box h1 {
    font-size: 2rem;
  }

}

@media (max-width: 500px) {
  .slider_section {
    padding-top: 134px;
  }
}

@media (max-width: 375px) {

  .slider_section {
    padding-top: 134px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}